<div class="page">

  <div class="main-header">My Vanilla JavaScript 30</div>

  <div class="search-wrapper">
    <input type="text" class="search-field" placeholder="search">
    <%# <%= image_tag("search.png", size: "20") %> 
  </div>

  <div class="cards-container">
      <% @challenges.each do |challenge| %>
        <%= link_to challenge_path(challenge), class: "card-link" do %>
          <div class="challenge-card">
            <div class="card-image-holder">
              <%= image_tag("card-images/#{challenge.number}.jpg") rescue nil  %> <%# rescue nil: doesnt crash when there is no image  %>
            </div>
            <div class="card-info">
              <div class="card-number">
                <% if challenge.number < 10 %>
                  0<%= challenge.number %>
                <% else %>
                  <%= challenge.number %>
                <% end %>
              </div>
              <div class="card-name">
                <%= challenge.name %>
              </div>
            </div>
          </div>
        <% end %> 
      <% end %>
    <div id="white-space"></div>
  </div>

  <div id="info-box">
  <p class="text" style="opacity: 0">this demo website was built with ruby on rails to showcase my recent work with javascript.
  a collection of small web applications and exercises based on and inspired by wes bos' brilliant plain javascript 
  <%= link_to "online course", "https://javascript30.com/"  %>. only vanilla javascript has been used, no libraries or frameworks. 
  work in progress.</p>
  </div>


    <div class="footer">
    <div class="icon-container">
      <%= inline_svg_tag "information.svg", size: "25", id: "info", class: "icon" %>
      <%= inline_svg_tag "close.svg", size: "25", id: "close", class: "icon hide" %>
    </div>
    <%= link_to "sscumac©2021", "https://github.com/sscumac"  %>
    </div>

</div>

<%= javascript_pack_tag "index" %>
